.App {
 display: flex;
 flex-direction: column;
 background-image: linear-gradient(to bottom right,#4d4d4a,#3b3b3a );
 color: white;
}

.header{
  padding-top: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
 

}

.btn-container{
  padding-top: 8px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

